body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100vw; 
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.navbar {
    background-image: url('menu.png');
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.video-container {
    width: 100%; 
    max-width: 100%; 
    margin: 0 auto;
    padding: 0;
    overflow: hidden; 
}

video {
    width: 100%; 
    height: auto; 
    max-width: 100vw; 
}

.navbar-nav .nav-link {
    color: white;
    font-weight: bold;
    font-size: 1.25em;
}

.footer {
    background-image: url('f1.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
}

.footer-heading {
    font-size: 28px;
    margin-bottom: 10px;
    color: #ffcc00;
    font-weight: bold;
}

.footer-links a {
    color: #fff;
    display: inline-block;
    margin: 0 18.5px;
    font-size: 19px;
    text-decoration: none;
}

.form-group {
    margin-bottom: 10px;
}

form button {
    width: 100%;
    padding: 20px; 
    cursor: pointer;
    font-size: 19px;
}

.social-icons {
    text-align: center;
    margin-top: 10px;
}

.social-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 30px;
    text-decoration: none;
}

/* Mobile Styles */
@media only screen and (max-width: 768px) {
    body {
        padding: 10px;
        font-size: 16px;
    }
    .container {
        width: 100%;
        margin: 0 auto;
    }
    .video-container {
        width: 100%;
        max-width: 100%; 
        overflow: hidden; 
    }
    video {
        width: 100%;
        height: auto;
        max-width: 100vw; 
    }
    form button {
        padding: 15px;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 769px) {
    body {
        font-size: 18px;
    }
    .container {
        width: 80%;
        margin: 0 auto;
    }
}
