h1{
    text-align: center;
    padding-top: 24pt;
    
}
img{
    height:500;
    width:80%;
    padding-left: 200pt;
    
}
p{
    padding-left: 10pt;
    padding-right: 10pt;
    text-align: justify;
}
.tab{
    text-align: center;
}

table td:hover{
    background-color: aliceblue;
    color: black;
}



h4{
    padding-left: 10pt;
}
table{
    height: 200pt;
    width:150pt;
}


.under{
    text-decoration: underline;
}
#vid{
    margin-left: 25%
}
